@import "/src/App.css";

.card {
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 386px;
    padding: 16px;
    background-color: var(--color-gray);
    border-radius: 12px;
    font-size: 17px;
}

.card input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: 6px;
}
