@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --color-gray: #f3efee;
    --color-alabaster: #f9f5f4;
    --color-black: #222222;
    --color-black-20: #00000033;
    --color-charcoal-Brown: #393433;
    --color-accent: #d1a28b;
}

body {
    font-family: "Inter", sans-serif;
}
